
.campaignsParent {
    position: absolute;
    top: 125px;
    left: 174px;
    width: calc(100% - 174px);
    height: calc(100% - 125px);
    background-color: aqua;
    background: var(--main-dark-blue);
}

.campaignSelectionInstructionBox {
    position: absolute;
    top: calc(50% - 125px);
    left: 0px;
    width: 100%;
}

.selectCampaignInstruction {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--main-purple);
    text-transform: uppercase;
    line-height: 25px;
}
  