html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--main-dark-blue);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    --main-dark-blue: #181D29;
    --main-medium-blue: #242936;
    --main-bright-blue: #323A4E;
    --main-brighter-blue: #465069;
    --main-purple: #8163FC;
    --main-purple-shadow: #8263fc94;
    --main-white: #F7F8F2;
    --main-white-grayed: #f7f8f239;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    opacity: 0.25;
}

::-webkit-scrollbar {
    width: 17px;
}
  
::-webkit-scrollbar-track {
    background: var(--main-dark-blue);
    border-radius: 3px;
    border: solid 1px var(--main-purple);
}

::-webkit-scrollbar-thumb {
    background: #8263fc38;
    border: solid 1px var(--main-purple);
    border-radius: 3px;
}