html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--main-dark-blue);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    --main-dark-blue: #181D29;
    --main-medium-blue: #242936;
    --main-bright-blue: #323A4E;
    --main-brighter-blue: #465069;
    --main-purple: #8163FC;
    --main-purple-shadow: #8263fc94;
    --main-white: #F7F8F2;
    --main-white-grayed: #f7f8f239;
}

