
.navigationBarParent {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: var(--main-dark-blue);
    border-bottom: solid 1px var(--main-bright-blue);
    z-index: 100;
}

.homeButton {
    position: absolute;
    display: flex;
    justify-items: center;
    align-items: center;
    top: 8px;
    bottom: 8px;
    left: 8px;
    width: 260px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: .075s ease-out;
}

.homeButton:hover {
    background-color: var(--main-medium-blue);
    transition: .075s ease-in;
}

.logo {
    position: absolute;
    left: 3px;
    height: 26px;
    width: 26px;
    border-radius: 100%;
    background-color: var(--main-purple);
}

.title {
    position: absolute;
    left: 45px;
    margin: 0px;
    line-height: 100%;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--main-white);
    letter-spacing: 1px;
}
